body{
    background-color: #f7f7f7;
}
span{
    color: #8080c0;
    font-size:35px;
}
.card-header{
    background-color: #8080c0;
    color: white;
}

#temperature{
    color: #8080c0;
    font-size: 50px;
}
#temperature-detail{
    color: #8080c0;
    font-size: 20px;
}