<div class="card">
    <div class="card-header">
        {{titleCard}}
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-lg-12 text-center"><span>{{coord.name}}, {{coord.sys.country}}</span></div>
        </div>
       <div class="row">
            <div class="col-lg-6" *ngIf="coord.weather[0]!==undefined && coord.weather!== undefined">
                <img [src]="coord.weather[0].icon" width="80" height="80">
            </div>
            <div class="col-lg-6" id="temperature">
                {{changeKelvinToCelsius(coord.main.temp) | number: '2.1-1'}}ºC
            </div>
       </div>
       <div class="row" id="temperature-detail">
            <div class="col-lg-6">
                Min: {{changeKelvinToCelsius(coord.main.temp_min) | number: '2.1-1'}}ºC
            </div>
            <div class="col-lg-6">
                Max: {{changeKelvinToCelsius(coord.main.temp_max) | number: '2.1-1'}}ºC
            </div>
       </div>
    </div>
</div>